@use '../../ControlsGlobal.module' as g;
@use '../../../../vars' as v;
@use './SectionsGlobal.module' as sg;

.connList{
  @include sg.sectionList
}

input{
  background-color: white;
  border-radius: v.$br;
  border: v.$border;
  padding: sg.$pdg;
}