@use '../../ControlsGlobal.module' as g;
@use '../../../../vars' as v;

$pdg: 2px 10px;

.room{
  border: v.$border;
  border-radius: v.$br;
  background-color: white;
  padding: $pdg;
  display: flex;
  justify-content: space-between;
}

.connList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listEnd {
  display: flex;
  gap: 5px;
}

input{
  background-color: white;
  border-radius: v.$br;
  border: v.$border;
  padding: $pdg;
}