@use '../../ControlsGlobal.module' as g;
@use '../../../../vars' as v;
@use './SectionsGlobal.module' as sg;

@mixin sectionList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connList{
  @include sectionList
}

input{
  background-color: white;
  border-radius: v.$br;
  border: v.$border;
  padding: sg.$pdg;
}