@use '../ControlsGlobal.module' as g;
@use '../../../vars' as v;
@use "./Sections/SectionsGlobal.module" as sg;

.connection {
  width: 250px;
  height: 200px;
  padding: 10px;
  background-color: v.$bg-clr;
  border: v.$border;

  border-radius: v.$br;
}

.ctrl {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.ctrlButton {
  @include g.iconButton
}

.ctrlButtonReadonly{
  cursor: default;
  background-color: v.$bg-clr;
  box-shadow: 0 0 0 1px v.$bord-clr;
}

.iconUsing {
  @include g.iconUsing
}

.connList {
  @include sg.sectionList
}

.applyBtn {
  @include sg.flexBtn
}

.rightToLeft {
  direction: rtl;
  justify-content: normal;
}