@use '../ControlsGlobal.module' as g;
@use '../../../vars' as v;

.connection{
  width: 250px;
  height: 200px;
  padding: 10px;
  background-color: #f8f8f8;
  border: v.$border;

  //display: flex;
  //flex-direction: column;
  //gap: 5px;

  border-radius: v.$br;
}

.ctrl{
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;

  //margin-bottom: 10px;
}

.ctrlButton{
  @include g.iconButton
  //padding: 2px 5px;
}

.iconUsing{
  @include g.iconUsing
}