@use 'ControlsGlobal.module' as g;
@use '../../vars' as v;

.controls {
  font-family: Roboto;
  font-weight: 500;
}

button {
  font-weight: 500;

  border-radius: v.$br;
  background-color: white;
  border: v.$border;
  //padding: 5px;
}