@use '../../vars' as v;

.modal{
  position: absolute;
  background-color: white;
  border: v.$border;
  border-radius: v.$br;
  margin-top: 5px;

  z-index: 1;
  //opacity: 0;
  transition: 0.1s;
}

//.open{
//  opacity: 1;
//}