@use '../SectionsGlobal.module' as sg;

.user {
  @include sg.sectionRowBlock
}

.rowBlockEnd {
  @include sg.rowBlockEnd
}

.userCtrlBtn {
  border: none;
  transition: 0.1s ease-in;
}

.userCtrlBtn:hover {
  transform: scale(120%);
}

.userCtrlBtn:active{
  transform: scale(100%);
}