@use '../ControlsGlobal.module' as g;
@use '../../../vars' as v;

.tools {
  padding: 10px;
  background-color: #f8f8f8;
  border: v.$border;

  display: flex;
  gap: 5px;

  border-radius: v.$br;
}

.iconButton{
  @include g.iconButton;
  transition: 500ms;
}

.iconUsing{
  border-color: v.$usingClr;
  box-shadow: 0 0 2px 2px v.$usingClr;
}