@use '../../../vars' as v;

.wrapper{
  pointer-events: none;
  position: absolute;

  //display: flex;
}

.openButton{
  pointer-events: auto;
  height: max-content;
  padding: 5px;
  //transition: opacity 150ms;
  line-height: 90%;
}
//.opened{
//  //opacity: 0;
//  //pointer-events: none;
//}

.block{
  pointer-events: auto;
  position: relative;

  transition: 0.5s;

  transform: translateX(0) translateY(0);
}

//.blockOutside{
//  transform: translateX(-120%);
//}

.top{
  left: 20vw;
}
.bottom{

}

.left{
  display: flex;
  top: 20vh;
  //margin-left: 20px;
}
.right{
  display: flex;
  top: 20vh;
  right: 0;
}

.order{
  order: 1;
}