@use '../../../vars' as v;

.wrapper{
  pointer-events: none;
  position: absolute;
}

.openButton{
  pointer-events: auto;
  height: max-content;
  padding: 3px;
  line-height: 90%;
}

.block{
  pointer-events: auto;
  position: relative;

  transition: 0.5s;

  transform: translateX(0) translateY(0);
}

.top{
  left: 20vw;
}
.bottom{

}
.left{
  display: flex;
  top: 20vh;
}
.right{
  display: flex;
  top: 20vh;
  right: 0;
}

.order{
  order: 1;
}