@use '../../vars' as v;

@mixin sideBlock($left) {
  border-radius: v.$br;

  padding: 15px;
  background-color: v.$bg-clr;
  border: v.$border;
}

@mixin iconButton {
  padding: 3px 6px;
}

@mixin iconUsing{
  border-color: v.$usingClr;
  box-shadow: 0 0 2px 2px v.$usingClr;
}

@mixin iconButtonReadonly{
  cursor: default;
  background-color: v.$bg-clr;
  box-shadow: 0 0 0 1px v.$bord-clr;
}