@use '../ControlsGlobal.module' as g;
@use '../../../vars' as v;

.history {
  @include g.sideBlock(true);

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: transform 0.5s;
}

.historyCtrl {
  display: flex;
  gap: 2px;

  span {
    margin-right: 5px;
  }
}

.historyButton {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}
.historyButtonDark {
  background-color: v.$fill-clr;
}

.iconButton {
  @include g.iconButton
}