@use '../../vars' as v;

.rangeSlider{
  margin-top: 15px;

  height: 20px;

  cursor: ew-resize;
  user-select: none;

  font-size: 13px;

  display: flex;
  align-items: center;
  padding: 10px 5px;

  background-color: white;
  border: v.$border;
  border-radius: v.$br;

  overflow: hidden;
  position: relative;
}

.sliderInner{
  position: absolute;
  left: 0;
  top:0;
  background-color: v.$fill-clr;
  border: 1px solid v.$sliderBord-crl;
  border-radius: v.$br;
  height: 20px;
}

.data{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}